<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/assets/css/styles.css">
      
    </head>
    
    <body>

        <nav class="navbar navbar-expand-md bg-custom navbar-dark fixed-top">
            <a class="navbar-brand" href="/B2servers/RestClient3930519">{% block brand %}{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                                        <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
                            Properties
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="?action=addProperties">Add Property</a>
                            <a class="dropdown-item" href="?action=getProperties">View Properties</a>
                            <a class="dropdown-item" href="?action=searchProperties">Search Properties</a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li> 

                    </li>
                </ul>
            </div>  
        </nav>
        <br>
        {% block body %}

         {% endblock %}
              <div class="footer">
            Copyright 2021
        </div>

    </body>
</html>



